*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin center {
  margin-left: auto;
  margin-right: auto;
}
@mixin full-height {
  height: 100vh;
}

@mixin width80 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@mixin paddingRL15 {
  padding-right: 15px;
  padding-left: 15px;
}
@mixin paddingTB15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(120deg, $grey-dark, $black, $grey-main);
  background-size: 1500% 1500%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-body {
  position: relative;
  text-align: center;
  color: #fff;
  position: relative;
  height: 100vh;
  @include center();
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  background-color: $grey-main;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: inherit;
}
.invalid {
  border-color: $valencia !important;
}
