$black: #0b0c10;

$grey-light: #c5c6c7;
$grey-main: #242729;
$grey-dark: #1f2833;

$off-white: #faf9f6;
$white: #fff;
$blue: #66fcf1;
$blue-dark: #45a29e;
$light-orange: rgb(255, 204, 0);
$orange: #ffa500;
$egg-white: #eef4ed;

$blue-true: #0096ff;

$pink-sass: #cf649a;
