*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main-body {
  position: relative;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #242729;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
  .main-body {
    grid-column: 2/3;
    width: 100%;
  }
}

#submit {
  display: block;
  background-color: white;
  line-height: 3;
  width: 150px;
  justify-self: center;
  color: black;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#submit:hover {
  background-color: #FAF9F6;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FAF9F6;
  height: 100vh;
  width: 100%;
  background-image: url("../../images/triangles.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-text-stroke: 1px black;
  border-bottom: 3px solid #fff;
}

.project-grid > .h1 {
  font-size: 3rem;
  color: white;
}

.banner-text {
  margin-top: auto;
  margin-bottom: auto;
}

.h1 {
  font-size: 5rem;
  overflow-wrap: break-word;
}

.h1 {
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 4px 5px 0 #c5c6c7;
}

.scroll-down {
  text-decoration: none !important;
  font-weight: 500;
  color: #fff;
  font-size: 36px;
}

@media (max-width: 375px) {
  .h1 {
    font-size: 40px;
  }
  .scroll-down {
    font-size: 20px;
  }
}

.project-grid, .project-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.project-grid {
  gap: 30px;
}

.project-image > img {
  width: 100%;
  padding: 0px;
}

.project-text {
  font-size: 1.3rem;
  font-weight: 300;
}

.tags {
  font-size: 0.8125rem;
  padding: 5px;
  max-width: 100px;
  font-weight: 800;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border-radius: 3px;
}

.html {
  background-color: #0096FF;
}

.css {
  background-color: #CF649A;
}

@media (min-width: 768px) and (max-width: 1260px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .project-grid {
    width: 100%;
    padding: 30px;
  }
}

@media (min-width: 1260px) {
  .project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.scs-scheme-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.image {
  max-width: 200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.h2-scs {
  margin-bottom: 50px !important;
}

@media (min-width: 1260px) {
  .scs-scheme-grid {
    grid-template-columns: 1fr 1fr;
  }
  .scs-scheme-grid .scs-scheme-3 {
    grid-column: span 2;
  }
}

.coding-container {
  height: 100vh;
  margin-bottom: 50px;
}

.coding-1 {
  margin-bottom: 50px;
}

.about-me-text {
  padding: 30px;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 300;
}

@media (max-width: 450px) {
  .about-me-text {
    font-size: 1.1rem;
  }
}

.hidden-xs {
  display: none;
}

.top-left-initials {
  font-size: 6.25rem;
  line-height: 1;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #fff;
  border-bottom: 3px solid #fff;
}

.sidebar {
  position: absolute;
  top: 1px;
  line-height: 5;
  height: 100vh;
  background-color: #242729;
  width: 250px;
  border-right: 3px solid #fff;
  border-left: 0;
  left: 1px;
  white-space: nowrap;
}

.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 5rem;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: 1px white;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: .6s;
  border-right: 5px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 5px var(--clr));
}

@media (orientation: landscape) and (min-height: 600px) and (max-height: 800px) {
  .nav-bar {
    gap: 0px;
  }
  .top-left-initials {
    margin-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .sidebar-content {
    text-align: left;
  }
  .hidden-xs {
    display: block;
    position: fixed;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container .h2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-h3 > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.viewlink {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.viewlink-click {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
}

.contact-container {
  margin-top: 120px;
  border-top: 3px solid #fff;
}

.article-container {
  font-size: 1.1rem;
}

.article-container {
  text-align: center;
  justify-content: center;
  background-color: #F4F5FA;
  font-size: 30px;
  border: 3px solid #FFA500;
  padding: 5px;
  box-shadow: rgba(255, 165, 0, 0.3) 0px 0px 30px 4px;
  color: black;
  top: 0;
  transition: .5s;
  height: 100%;
  border-radius: 10px;
}

.article-container:hover {
  transform: translate(0, -30px);
  transform: scale(1.1);
}

.contents-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contents-container .viewlink {
  line-height: 36px;
}

.container-text {
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }
  .contact-container .get-in-touch p {
    padding: 15px;
  }
}

@media (min-width: 1450px) {
  .container {
    width: 1200px;
  }
  .form-field .input-field {
    width: 49%;
  }
  .form-field textarea {
    width: 99% !important;
  }
}

.get-in-touch, .leave-a-message {
  padding-top: 0px;
  margin-left: auto;
  margin-right: Auto;
}

.get-in-touch {
  margin-bottom: 50px;
}

.get-in-touch h3 {
  font-size: 1.6rem;
}

.get-in-touch h4 {
  font-size: 1.4rem;
}

.get-in-touch h5 {
  margin-top: 5px;
  font-size: 1.4rem;
}

.input-field {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 10px;
  padding: 15px 33px;
  margin: 10px 0px;
  background-color: #FAF9F6;
}

.message {
  min-height: 10px;
}

.input-field:focus {
  border-color: #5bc0de;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#submit {
  grid-column: span 2;
  align-self: center;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../styles/fonts/icomoon.eot?lmxqjb");
  src: url("../../styles/fonts/icomoon.eot?lmxqjb#iefix") format("embedded-opentype"), url("../../styles/fonts/icomoon.ttf?lmxqjb") format("truetype"), url("../../styles/fonts/icomoon.woff?lmxqjb") format("woff"), url("../../styles/fonts/icomoon.svg?lmxqjb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e905";
}

.icon-brand:before {
  content: "\e905";
}

.icon-social:before {
  content: "\e905";
}

.icon-menu:before {
  content: "\e908";
}

.icon-arrow-right1:before {
  content: "\e902";
}

.icon-arrow-left1:before {
  content: "\e903";
}

.icon-arrow-up-thick:before {
  content: "\e901";
}

.icon-arrow-down-thick:before {
  content: "\e900";
}

.icon-arrow-right1 {
  font-size: 40px;
}
