
#submit{
  display:block;
  background-color:white;
  line-height:3;
  width:150px;
  justify-self: center;
  color:black;
  border-radius:3px;
  @include center;
  cursor: pointer;
}

#submit:hover{
  background-color: $off-white;
}