.coding-container{
    min-height:100vh;
    margin-bottom: 50px;
    padding:15px;
    overflow-x: auto;
    h2{
    padding-bottom: 15px;
    padding-top: 15px;
    }
}
.comment:nth-of-type(2){
    @include paddingTB15;
}
.coding-1{
    margin-bottom:50px;
    text-align: left !important;
    font-size: 15px;
}
.image-code{
    padding:15px;
}
.button-example{
    width: 100%;
    margin-top:30px;
   
}
 
.coding-1{
    @include containers;
    text-align: left;
    font-size: 16px;
    padding-top: 0px; 
    padding-bottom: 0px; 
}
.code-1{
text-align: left;
}
@media (min-width: 1260px){
    .button-example{
        width:40%;
        float: left;
        margin-right:15px;
        padding-top:40px;
    }
    .project-text{
        margin-top:15px;
        text-align:start;
        border-top:3px solid $grey-light;
        border-bottom: 3px solid $grey-light;
        padding-bottom: 20px;
        padding-top:20px;
    }
}