.container {
  @include width80;
  .h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.container-h3 > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.viewlink {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.viewlink-click {
  margin-top: 10px;
  display: flex;
  transition: all 0.3s ease;
  filter: brightness(85%);
}
.viewlink-click:hover {
  filter: brightness(100%);
}
.scroll-container {
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact-container {
  margin-top: 120px;
  border-top: 3px solid $white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.article-container {
  font-size: 1.1rem;
}
.article-container {
  @include containers;
  transition: 0.5s;
}
.article-container:hover {
  transform: translate(0, -30px);
  transform: scale(1.1);
}

.container-text {
  @include paddingRL15;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;

    margin: auto;
  }
  .contact-container .get-in-touch p {
    padding: 15px;
  }
}
@media (min-width: 1450px) {
  .form-field .input-field {
    width: 49%;
  }
  .form-field textarea {
    width: 99% !important;
  }
}
