.get-in-touch, .leave-a-message{
    padding-top:0px;
    margin-left:auto;
    margin-right:Auto;
}

.get-in-touch{
    margin-bottom:50px;
}
.get-in-touch {
    h3{
        font-size:1.6rem;
    }
    h4{
        font-size: 1.4rem;
    }
    h5{
        margin-top: 5px;
        font-size: 1.4rem;
        word-break: break-all;
    }
}
.input-field{
    width:100%;
    border:1px solid transparent;
    border-radius:4px;
    margin-top:10px;
    padding: 15px 33px;
    margin:10px 0px;
    background-color:$off-white;
}
.message{
    min-height:10px;
}
.input-field:focus{
    border-color: #5bc0de;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(91, 192, 222, 0.6);
}

#submit{
    grid-column:span 2;
    align-self:center;
}
@media (max-width:991px){
    .get-in-touch{
        padding-top: 50px;
        h3{
            padding-bottom: 20px;
        }
    }

}
@media (min-width:1260px){
    // .leave-a-message{
    //     display:inline-flex;
    //     justify-content: center;
    //     width:750px;
    // }
    // .form-field{
    // flex-grow:1;
    // display:grid;
    // grid-template-columns: 1fr 1fr;
    // grid-auto-rows:1fr;
    // gap:15px;
    // }
    // .input-field:nth-child(5){
    //     grid-column:1 / 3;
    // }
    // .input-field:nth-child(5){
    //     grid-column:span 2;
    // }
    // .get-in-touch h3{
    //     font-size:2rem;
    // }
    // .get-in-touch h4 {
    //     font-size:1.5rem;
    // }
    // .get-in-touch h5{
    //     font-size:1.3rem;
    // }
}