.get-in-touch,
.leave-a-message {
  padding-top: 0px;
  margin-left: auto;
  margin-right: Auto;
}

.get-in-touch {
  margin-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.get-in-touch {
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    margin-top: 5px;
    font-size: 1.4rem;
    word-break: break-all;
  }
}
.input-field {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 4px;
  margin-top: 10px;
  padding: 15px 33px;
  margin: 10px 0px;
  background-color: $off-white;
  font: inherit;
}
.message {
  min-height: 10px;
}
.input-field:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(91, 192, 222, 0.6);
}

#submit {
  grid-column: span 2;
  align-self: center;
}
.error,
.success {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.error {
  background-color: #f2dede;
  border-color: #ebccd1;
}
.success {
  background: #2ecc71;
  border-color: #d6e9c6;
}
.success p {
  margin: 0;
  line-height: 22px;
  color: $white;
}
.error p {
  color: #a94442;
  margin: 0;
  line-height: 22px;
}
.close {
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #ffff;
  opacity: 0.2;
  cursor: pointer;
}
.close:hover {
  opacity: 0.5;
}
@media (max-width: 991px) {
  .get-in-touch {
    padding-top: 50px;
    h3 {
      padding-bottom: 20px;
    }
  }
}
