.header{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:$blue;
    height:100vh;
}

.project-grid > .h1{
    font-size:3rem;
    color:white;
}
.banner-text{
    margin-top:auto;
    margin-bottom:auto;
}
.h1{
    font-size:5rem;
    overflow-wrap:break-word;
    color:$blue;
}
.scroll-down{
    text-decoration: none !important;
    font-weight:500;
    color:$white;
    font-size:36px;
    line-height:5;
}