.header{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:$blue;
    height:100vh;
}

.project-grid > .h1{
    font-size:3rem;
    color:white;
}
.header > .h1{
    font-size:5rem;
    overflow-wrap:break-word;
    color:$blue;
}