.project-grid,
.project-container {
  display: grid;
  @include center;
  text-align: center;
}
.project-grid {
  gap: 30px;
}

.project-image {
  position: relative;
  height: 80%;
}
.project-image > img {
  width: 100%;
  padding: 0px;
  height: 100%;
  object-fit: cover;
}

.contents-container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  .container-h3 {
    color: orange;
  }
  .contents {
    display: none;
    position: absolute;
    height: 100%;
    top: -200px;
    transition: 0.5s;
    flex-direction: column;
    justify-content: space-evenly;
    .viewlink {
      margin: 0;
    }
    .viewlink-click {
      background: none;
      border: 1px solid orange;
      font-size: 10px;
      margin: 0;
    }
    .viewlink-click:hover {
      background: orange;
    }
  }
}
.contents-container:hover {
  .contents {
    display: flex;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    transition: 0.5s all ease;
  }
}
.contents-container .viewlink {
  line-height: 13px;
}
.project-text {
  font-size: 1rem;
}
.contents h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.3rem;
}
.contents .goToLinks {
  display: flex;
}
.contents-container .viewlink {
  line-height: 13px;
}

.goToLinks {
  justify-content: space-around;
}
.icons {
  display: flex;
  font-size: 40px;
  justify-content: space-around;
  position: relative;
}
.icons {
  font-size: 25px;
}

@media (min-width: 368px) and (max-width: 768px) {
  .contents {
    justify-content: space-evenly;
    h3 {
      font-size: 5.3vw;
    }
    .project-text {
      font-size: 4vw;
      // margin-top: 5%;
    }
    .viewlink-click {
      padding: 2vw;
      font-size: 3vw !important;
    }
    // .goToLinks {
    //   margin-top: 10% !important;
    // }
  }
}
@media (min-width: 768px) {
  .contents {
    h3 {
      font-size: 2vw;
    }
    .goToLinks {
      font-size: 1.5vw;
    }
    .viewlink-click {
      font-size: 1.3vw !important;
      padding: 1vw;
    }
  }
}
/// Grid break
@media (min-width: 768px) and (max-width: 1260px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}
/// Tablet to desktop switch
@media (min-width: 992px) {
  .project-grid {
    width: 100%;
    padding: 30px;
  }
  .icons {
    font-size: 2.5vw;
  }
}

@media (min-width: 1260px) {
  .project-grid {
    grid-template-columns: 1fr 1fr;
  }
  .project-text {
    font-size: 1.3vw;
  }
}

// .project-text {
//   font-size: 1.3rem;
//   font-weight: 300;
// }
// .goToLinks {
//   display: flex;
//   justify-content: space-evenly;
// }
// @media (max-width: 550px) {

// }
